
:root {
  // primary colors
  --color-dark-cyan: hsl(185, 75%, 39%);
  --color-dark-blue: hsl(229, 23%, 23%);
  --color-grayish-blue: hsl(227, 10%, 46%);
  // neutral colors
  --color-dark-gray: hsl(0, 0%, 59%);
}