:root {
  // primary colors
  --color-red: hsl(0, 100%, 74%);
  --color-green: hsl(154, 59%, 51%);
  // accent colors
  --color-blue: hsl(248, 32%, 49%);
  // neutral colors
  --color-dark-blue: hsl(249, 10%, 26%);
  --color-grayish-blue: hsl(246, 25%, 77%);
}