
:root {
  // primary colors
  --color-db-intro-email: hsl(217, 28%, 15%);
  --color-db-main: hsl(218, 28%, 13%);
  --color-db-footer: hsl(216, 53%, 9%);
  --color-db-testimonial: hsl(219, 30%, 18%);
  // accent colors
  --color-cyan: hsl(176, 68%, 64%);
  --color-blue: hsl(198, 60%, 50%);
  --color-light-red:  hsl(0, 100%, 63%);
  // neutral colors
  --color-white: hsl(0, 0%, 100%);
}