
body {
  font-family: var(--font-spartan);
  margin-right: auto;
  margin-left: auto;
  max-width: var(--desktop-view);
}

div.application-banner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-de-saturated-dark-cyan);
  > img.header-banner {
    width: 100%;
    height: 100%;
  }
}