
:root {
  // primary colors
  --color-very-dark-blue: hsl(233, 47%, 7%);
  --color-des-blue: hsl(244, 38%, 16%);
  --color-soft-violet: hsl(277, 64%, 61%);
  --color-violet-dark: hsl(277, 63%, 36%);
  // neutral colors
  --color-white: hsl(0, 0%, 100%);
  --color-transparent-white-para: hsla(0, 0%, 100%, 0.75);
  --color-transparent-white-headings: hsla(0, 0%, 100%, 0.6);
}