
:root {
  // primary colors
  --color-de-saturated-dark-cyan: hsl(180, 29%, 50%);
  // neutral colors
  --color-light-gray-cyan-bg: hsl(180, 52%, 96%);
  --color-light-gray-cyan-filter-tabs: hsl(180, 31%, 95%);
  --color-dark-gray-cyan: hsl(180, 8%, 52%);
  --color-very-dark-gray-cyan: hsl(180, 14%, 20%);
}