div.App {
  background-color: var(--light-grayish-blue);
  margin: auto;
  max-width: 1300px;
  > div.testimonials-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    > div.testimonial-wrapper__container-01 {
      > div.testimonial-wrapper__top-layer {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 100%;
      }
      > div.testimonial-wrapper__bottom-layer {
        display: grid;
        grid-template-columns: auto auto;
      }
    }
    > div.testimonial-wrapper__container-02 {

    }
  }
}